.row-header {
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    color: floralwhite;
    background: #9575CD;

}

.address {
    font-size: 80%;
    margin: 0px;
    color: black;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color: #512DA8;
}

.buttonsa {
    background-color: rgb(245, 188, 33); 
    padding: 08px 50px;
    text-align: center;
    font-size: 16px;
    /*margin: 4px 2px;*/
    border-radius: 8px;
    
  }

  #guestradio{
      font-weight: bold;
      letter-spacing: 10px
  }

  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #512da8;
}


.radio_button {
    display: none;
}

.radio_label {

    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background 0.1 s;
}

.radio_button #smoking{
    background: red;
    text-align: center;
}

.radio_button #smoking{
    display: none;
    background: green;
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#date {
    padding:8px 25px;
}

#carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1500;
}